node_modules
postgres-db-data/*
ssldata/*
.vscode/*
caddy/
*.env
*.bak
dev.sh
.DS_Store
front-end/run.sh
.greenlockrc
greenlock.d/*
config.env
payload-fire-images/*.gz
payload-fire-images/*.png
deploy.sh
